@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
    
}

button:hover{
    cursor: pointer;
}


input {
    outline:none;
   }


.purple{
  
    color: white;
    border-radius: 24px;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: bold;
    border: none;

}

.purple_text{
    color: rgb(100 21 255);
}
nav{

    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
    
}

.nav_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo_wrapper{
    display: flex;
    align-items: center;
    color: black;
}

.logo{
    height: 42px;
    padding-right: 10px;
}

.logo_name{
    font-size: 24px;
    color: rgb(50, 50, 50);
    font-weight: 800;
}

.site_box{
    padding: 2rem 8rem 2rem 8rem;
}





.link_list{
    display: flex;
    
}

.links{
    margin-left: 24px;
    list-style: none;
     font-size: 14px;
     padding-left: 10px; 
     font-weight: bold;
    
}

.link_space{
    display: flex;
    padding-left: 50px;  
}

.link{
    color: rgb(50, 50, 50)
}


/* HOME PAGE */

.home_page{
display: flex;
padding-top: 6rem;
padding-bottom: 6rem;
align-items: center;


}

.templates{
    width: 40%;
   
}

.working__lady-wrapper{
    width: 60%;
}

.working_lady{
    max-width: 48rem;
}

.main_header{
    font-size: 3rem;
    padding-bottom: 32px;
    
}

.main_body{
    padding-bottom: 32px;
    color: rgb(111, 111, 111);
    font-size: 18px;
    line-height: 25px;

}

.email_box{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 100px;
    height: 60px;
    padding: 6px 6px 6px 6px;
    text-align: left;
    width: 90%;
    

}

.button_wrapper{
    display: flex;
}

.email{
    border: none;
margin-left: 10px;
}



.main_bottom{
    padding-top: 4rem;
    opacity: 40%;
}

.logo_strip{
    width: 70%
}

.logo__strip-para{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 16px;
}


/* FEATURES */

.features{
    padding: 80px 0;
    margin: 0 69px;
}

.features_row{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services{
    display: flex;
    flex-wrap: wrap;
    width: 80%;

}

.group{
    width: calc(100%/3);
    display: flex;
    padding:24px;
}

.features_title{
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 24px;
    letter-spacing: 0.15em;
    
}


.features_subtitle{

    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 24px;
}

.features_para{
    text-align: center;
    width: 40%;
    padding-bottom: 40px;
    color: rgb(111, 111, 111);

}

.services_para{
    padding-top: 16px;
    color: rgb(111, 111, 111);
    line-height: 1.5rem;
}

.service_logo{
    border: 1px solid rgba(0, 0, 0, 0.138);
    border-radius: 80%;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
   
}

.text_group{
    padding-left: 24px;
}



/* QUALITY */

.quality{
    display: flex;
    padding-top: 6rem;
    padding-bottom: 6rem;


}

.quality_info{
    width: 50%;


}
.quality__logo-wrapper{
    width: 50%;
}

.quality_logo{
    width: 100%;
    border: 2px solid rgba(211, 211, 211, 0.183);
}

.quality_para{
 padding-bottom: 32px;
 font-size: 20px;
 color: rgb(111, 111, 111);
 
}

.quality_wrapper{
    width: 90%;
}


/* GETTING STARTED */


.get_started{
    display: flex;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin: 0 69px;

   
}


.started__logo-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.started_logo{
    width: 100%;
}


.text_group{
    width: 80%;
   

}

.started_info{
    display: flex;
    flex-direction: column;
}

.started{
    width: 50%;
    padding: 0 30px;
}

.group_1{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


.started_head{
    opacity: 20%;
    font-size: 40px;
    font-weight: 500;
}

.service_para{
    color: rgb(111, 111, 111);
 
}

.mini_title{
    font-weight: 500;
    font-size: 20px;
}



/* PRICING PLANS HEADER */

.pricing{
    padding-top: 6rem;
    margin: 0 69px;
}

.pricing_header{
    text-align: center;
    padding-bottom: 50px;
}


.pricing_para{
    max-width: 50%;
    

}

.pricing__para-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PLANS */

.pricing_plans{
    display: flex;
    width: 100%;
    
}

.plan{
    border: 4px solid black;
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    border-radius: 10px;
    
}

.plan_title{
    padding: 24px 0;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.plan_price{
    padding-bottom: 24px;
    font-size: 36px;

}


.plan_term{
    padding-bottom: 24px;
    font-weight: 600;
    opacity: 40%;
    letter-spacing: 0.1em;
}

.plan_info{
    padding-bottom: 24px;
    opacity: 40%;
    

}

.pricing__button-wrapper{
    padding: 24px 0;
   
}






