@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
    
}



button:hover{
    cursor: pointer;
}


input {
    outline:none;
   }

   html{
    scroll-behavior: smooth;
   }


.purple {
  
    color: white;
    border-radius: 24px;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: bold;
    border: none;

}

.purple_text{
    color: rgb(100 21 255);
}
nav{

    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
    
}

.nav_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo_wrapper{
    display: flex;
    align-items: center;
    color: black;
}

.logo{
    height: 42px;
    padding-right: 10px;
}

.logo_name{
    font-size: 24px;
    color: rgb(50, 50, 50);
    font-weight: 800;
}

.site_box{
    padding: 2rem 2rem;
}





.link_list{
    display: flex;

    
}

.links{
    margin-left: 24px;
    list-style: none;
     font-size: 14px;
     padding-left: 10px; 
     font-weight: bold;
    
}

.link_space{
    display: flex;
    padding-left: 50px;  
}

.link{
    color: rgb(50, 50, 50)
}

/* BURGER MENU  */

.btn__menu{
    background-color: transparent;
    font-size: 24px;
    text-align: center;
    border: none;
    color: rgb(100 21 255);
    display: none;
}



.menu__backdrop{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    top: 2%;
    left: 2%;
    right: 2%;
    bottom: 55%;
    border: 1px solid rgba(0, 0, 0, 0.107);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
  
}

.menu--open .menu__backdrop{
    display: flex;
    visibility: visible;
    opacity: 1;
}


.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: rgb(100 21 255);
}

.menu__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.menu__list{
    padding: 16px 0;
    font-size: 16px;
    font-weight: 600;


}

.menu__link{
    color: black;
}




/* HOME PAGE */

.home_page{
display: flex;
padding-top: 6rem;
padding-bottom: 6rem;
align-items: center;


}

.templates{
    width: 40%;
   
}

.working__lady-wrapper{
    width: 60%;
}

.working_lady{
    max-width: 48rem;
}

.main_header{
    font-size: 3rem;
    padding-bottom: 32px;
    
}

.main_body{
    padding-bottom: 32px;
    color: rgb(111, 111, 111);
    font-size: 18px;
    line-height: 25px;

}

.email_box{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 100px;
    height: 70px;
    padding: 6px 6px 6px 6px;
    text-align: left;
    width: 100%;
    

}

.button_wrapper{
display: flex;
padding-left: 20px;
}

.email{
    border: none;
margin-left: 10px;
}

.purple_single{
    text-align: center;
}



.main_bottom{
    padding-top: 4rem;
    opacity: 40%;
}

.logo_strip{
    width: 70%
}

.logo__strip-para{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 16px;
}


/* FEATURES */

.features{
    padding: 80px 0;
    margin: 0 69px;
}

.features_row{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services{
    display: flex;
    flex-wrap: wrap;
    width: 80%;

}

.group{
    width: calc(100%/3);
    display: flex;
    padding:24px;
}

.features_title{
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 24px;
    letter-spacing: 0.15em;
    
}


.features_subtitle{

    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 24px;

}

.features_para{
    text-align: center;
    width: 40%;
    padding-bottom: 40px;
    color: rgb(111, 111, 111);

}

.services_para{
    padding-top: 16px;
    color: rgb(111, 111, 111);
    line-height: 1.5rem;
}

.service_logo{
    border: 1px solid rgba(0, 0, 0, 0.138);
    border-radius: 80%;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
   
}

.text_group{
    padding-left: 24px;
}



/* QUALITY */

.quality{
    display: flex;
    padding-top: 6rem;
    padding-bottom: 6rem;


}

.quality_info{
    width: 50%;


}
.quality__logo-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quality_logo{
    width: 100%;
    border: 2px solid rgba(211, 211, 211, 0.183);
}

.quality_para{
 padding-bottom: 32px;
 font-size: 20px;
 color: rgb(111, 111, 111);
 
}

.quality_wrapper{
    width: 90%;
}


/* GETTING STARTED */


.get_started{
    display: flex;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin: 0 69px;

   
}


.started__logo-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.started_logo{
    width: 100%;
}


.text_group {
    width: 80%;
   

}

.started_info{
    display: flex;
    flex-direction: column;
}

.started{
    width: 50%;
    padding: 0 30px;
}

.group_1{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


.started_head{
    opacity: 20%;
    font-size: 40px;
    font-weight: 500;
}

.service_para{
    color: rgb(111, 111, 111);
 
}

.mini_title{
    font-weight: 500;
    font-size: 20px;
    
}



/* PRICING PLANS HEADER */

.pricing{
    padding-top: 6rem;
    margin: 0 69px;
    padding-bottom: 6rem;
}

.pricing_header{
    text-align: center;
    padding-bottom: 50px;
}


.pricing_para{
    max-width: 50%;
    
    

}

.pricing__para-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PLANS */

.pricing_plans{
    display: flex;
    width: 100%;
    
}

.plan{
    box-shadow: 1px 1px 10px #888888;
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    border-radius: 10px;
    
}

.plan_title{
    padding: 24px 0;
    font-weight: 600;
    letter-spacing: 0.1em;

}

.plan_price{
    padding-bottom: 24px;
    font-size: 36px;
        border-top-width: 2px;
    border-bottom-width: 2px;
    z-index: 100;
   

}


.plan_term{
    padding-bottom: 24px;
    font-weight: 600;
    opacity: 40%;
    letter-spacing: 0.1em;
}

.plan_info{
    padding-bottom: 24px;
    opacity: 40%;
    

}

.pricing__button-wrapper{
    padding: 24px 0;
   
}

.plan_b{
    background-image: linear-gradient(135deg, rgba(58, 66, 216, 0.812) 0%, rgba(79, 110, 248, 0.773) 100%);
    color: white;
}

.plan__term-solo, .plan__info-solo{
    opacity: 100%;
}

.purple__solo-button{
   background-color:  rgb(247 250 252);
   color:rgba(58, 66, 216, 0.812);
   

}



/* FOOTER  */



ul{
    list-style: none;
    
}

footer{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: rgba(99, 21, 255, 0.928);
    color: rgb(247, 250, 252);
    
}

.footer_row{
    padding: 2rem 8rem 2rem 8rem;
}

.main_title{
    padding-bottom: 20px;
    font-weight: 700;
    
}

.main_link{
 padding-bottom: 10px;
 font-weight: 500;

}

.linksbox{
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.183);
    border-top: 2px solid rgba(255, 255, 255, 0.183);
    border-radius: 10px;


}

.footer__bottom-box{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.footerlinks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer_clickable:hover{
    text-decoration: underline;
}

.footer_clickable{
    color: rgb(247, 250, 252);
}


.logo__footer-name{
    color: white;
}

.logo__footer-wrapper{

}

.footer_socials{
    color: white;
    width: calc(100%/3);
    font-size: 25px;
}

.footer_links{

}




/* MEDIA 1280 PX (TABLETS ETC) */


@media (max-width: 1280px){

  



    .home_page{
        display: flex;
        justify-content: space-between;
    }


    .main_header{
        font-size: 32px;
    }

    .main_body{
        font-size: 16px;
    }

    .working_lady{
width: 600px;

    }

    .working__lady-wrapper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    }

    .services{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
            }
        
            .group{
                width: calc(100%/2);
            }

}


/* MEDIA 1025px */

@media (max-width: 1025px){

    .link_list{
        display: none;
    }

    .btn__menu{
        display: block;
    }

    .footer_row{
        padding: 10px 24px;
    }

    .home_page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main_header{
        text-align: center;
    }

    .main_body{
        text-align: center;
    }

    .templates{
        max-width: 600px;
        width: 100%;
    }

    .main_bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo__strip-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .working_lady{
        padding-top: 40px;
    }

.features_para, .quality_para, .pricing_para{
    max-width: 80%;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
.pricing_header{
    padding: 0 0 20px 0;
}
    /* ------- */

    .services{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    }

    .group{
        width: calc(100%/2);
    }


    /* ----- */

    .started{
        padding-right: 0;
    }

    /* ----- */

    .plan{

        margin: 32px auto;
        width: 350px;


    }

    .pricing_plans{
display: block;

    }

    .quality{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .quality_wrapper{
     width: 100%;
     padding-bottom: 42px;
    }

    .quality_info{
        width: 80%;
    }

    .quality__logo-wrapper{
        width: 80%;
    }

    .get_started{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .started{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .getting___started--group-para{
      padding-left: 0;
      text-align: center;
      
      
    }

    

    .group_1{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
   
    }

    .started__logo-wrapper{
        width: 80%;
        padding-top: 32px;
        text-align: center;
    }

    .footer_row{
        font-size: 14px;
    }

}

/* MEDIA 830px PHONES  */


@media(max-width:830px){
    .features_subtitle{
        text-align: center;
    }

  
    
}


/* MEDIA 770px PHONES  */


@media(max-width:770px){
    .group{
        width: calc(100%/1);
    }

    .features{
        margin: 0;
    }

   
   

    


}






/* MEDIA 640px PHONES  */

@media(max-width:640px){
.email_box{

}
.features_subtitle{
    font-size: 36px;
}

.quality_para{
    font-size: 16px;
}

.features_para{
    font-size: 16px;
    width: 80%;
}


}





